@import "./variables"

*
  box-sizing: content-box

html
body
  height: 100%
  margin: 0
  padding: 0
  width: 100%

body
  @extends $fontBody
  color: $colorGreyLight
  background: $colorBackground
  font-size: 10px
  text-align: center

h1, h2, h3, h4, h5, h6
  font-weight: normal
  text-shadow: 1px 1px white

a
  transition: color 0.4s ease

p
  font-weight: lighter
  text-align: left
  text-indent: 1em
  font-size: 2em

  @media $mqLandscapePhone
    font-size: 2.2em

  @media $mqTablet
    font-size: 2.6em

  @media $mqDesktop
    font-size: 3.2em

section
  padding: 12em 0

  &.alternate
    background: white

.constrainer
  max-width: 1200px
  margin: 0 auto
  padding: 0 2em

  @media $mqLandscapePhone
    padding: 0 3em

  @media $mqTablet
    padding: 0 4em

.text-center
.text-center p
  text-align: center

$drop-shadow
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.08)
  -moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.08)
  box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.08)
