@font-face
  font-family: 'quickier'
  src: url('/fonts/Quickier_Demo-webfont.eot')
  src: url('/fonts/Quickier_Demo-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Quickier_Demo-webfont.woff2') format('woff2'),
       url('/fonts/Quickier_Demo-webfont.woff') format('woff'),
       url('/fonts/Quickier_Demo-webfont.ttf') format('truetype'),
       url('/fonts/Quickier_Demo-webfont.svg#quickier_demoregular') format('svg')
  font-weight: normal
  font-style: normal

$fontQuickier
  font-family: 'quickier'

@font-face
  font-family: 'penna'
  src: url('/fonts/penna-webfont.eot')
  src: url('/fonts/penna-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/penna-webfont.woff2') format('woff2'),
       url('/fonts/penna-webfont.woff') format('woff'),
       url('/fonts/penna-webfont.ttf') format('truetype'),
       url('/fonts/penna-webfont.svg#pennaregular') format('svg')
  font-weight: normal
  font-style: normal

$fontPenna
  font-family: 'penna', Helvetica Neue, Arial, sans-serif
