@import "../variables"

.guest-info
  iframe
    width: 100%
    border: 1px solid white
    margin-bottom: 3em
    @extends $drop-shadow


  .hotel-info
    letter-spacing: normal

    @media $mqLandscapePhone
      text-align: left
      padding: 0 0 0 4em

    p
      text-align: center
      @media $mqLandscapePhone
        text-align: left

    h3
      margin-bottom: 0

    ul
      font-size: 2.5em
      list-style: none
      margin: 1em 0 0
      padding: 0

    li
      margin: 0 0 0.2em
      padding: 0

      a
        text-decoration: none
        color: $colorDarkBlue
