<a name="about-us"></a>
<section id="about-us" class="about-us">
  <div class="constrainer">
    <h2>About Us</h2>
    <h3>how we met</h3>

    <p>Jim and Pam. Ben and Leslie. Conrad and Kristina. Either we're destined for our own NBC sitcom or there's something to be said about office romances. Conrad and I met at work and while our paths rarely crossed professionally, we always managed to find ourselves in each other's company - usually at a bar during happy hour. </p>

    <p>On one particular occasion, the happy hour regulars wound up at Benchmark in Old Town and I very distinctly remember three things: I was late, I didn't know what to order, and Conrad came to my rescue with a drink menu. This was when I learned that he had excellent taste in beer (meaning he liked what I liked), so I ordered what he was having, Le Fin du Monde. Things somehow quickly escalated from a friendly cheers to someone challenging someone else to go beer for beer. Probably not the best idea with a 9% beer seeing as how we all found ourselves at a very questionable dance club, but I like to think that if it weren't for a little bit of that liquid courage, we wouldn't have ended the night with plans for our first date...at a scotch bar, no less. </p>

    <p>The rest is history but plenty of drinks and four years later, there's still no one else in this world I'd rather go beer for beer for with.</p>
  </div>
</section>
<section id="about-us-two" class="about-us alternate">
  <div class="constrainer">
    <h2>The Proposal</h2>
    <h3>how he popped the question</h3>

    <p>If there was a Mr. Chicago pageant, I'm pretty sure Conrad would win by a landslide. He lives and breathes this city and believe me when I say that it's no small compliment when he decided I could be an honorary Chicagoan. So imagine my surprise when he told me that he hadn't done a bunch of Chicago-y things like go up to the top of the Hancock or have deep dish at Gino's East. And so began what we like to call our Tourist Date Series - days spent exploring Navy Pier, strolling down Michigan Avenue, one way, way, way overdue trip to Portillo's, and countless visits to Museum Campus (one of our first dates was at the Field Museum). </p>

    <p>Anyway, 2014 had been an exceptionally busy year for us - so many of our friends were getting married, he was moving, and we had both started new jobs. Conrad was making a big fuss about having a weekend for just the two of us and when it just so happened that everyone was &ldquo;busy&rdquo; on September 6, we seized the day for our own to have another tourist date.</p>

    <p>We started the day with brunch in the South Loop and because it was so gorgeous outside, we had planned to meander down Michigan Avenue. But while I was putting together a mental shopping list, Conrad instead steered us towards Museum Campus. The ramps in front of the Field Museum have some of the best views of the city and we paused there to take a picture and enjoy the sights. Conrad gestured to the skyline and started to reminisce about our time together - how we met, the life we were building together, and how happy we made each other. The next thing I knew, he went down on one knee and asked me to marry him. I, of course, said yes. </p>

    <p>And then did a little dance : )</p>
  </div>
</section>
