<a name="guest-info"></a>
<section id="guest-info" class="guest-info">
  <div class="constrainer">
    <h2>Guest Info</h2>
    <h3>Hotels &amp; Transport</h3>

    <iframe height="450" frameborder="0"
src="https://www.google.com/maps/embed/v1/place?q=Waldorf+Astoria+Chicago,+East+Walton+Street,+Chicago,+IL,+United+States&key=AIzaSyCPvawbJNOZRO9gZBeLImtc1Q8drYp41e4"></iframe>
  </div>
</section>
