<a name="registry"></a>
<section id="registry" class="registry alternate">
  <div class="constrainer">
    <h2>Registry</h2>
    <h3>SOME SUB HEADING</h3>
    <p>
      Crate &amp; Barrel
      Amazon
    </p>
  </div>
</section>
