<a name="wedding-party"></a>
<section id="wedding-party" class="wedding-party">
  <div class="constrainer">
    <h2>Wedding Party</h2>
    <h3>Family-Friends-Sidekicks</h3>

    <div class="pure-g">
      <div class="person pure-u-md-1-4">
        <div class="image-container">
          <img src="/images/katrina.jpg">
          <span class="name">Katrina Alto</span>
          <span class="relation">Kristina's Sister<br>&mdash;<br><em>Maid of Honor</em></span>
        </div>
      </div>
      <div class="person pure-u-md-1-4">
        <div class="image-container">
          <img src="/images/george-goofy.jpg" class="goofy">
          <img src="/images/george-nice.jpg" class="nice">
          <span class="name">GeorgeGabe Adan</span>
          <span class="relation">Conrad's Best Friend<br>&mdash;<br><em>Best Man</em></span>
        </div>
      </div>
      <div class="person pure-u-md-1-4">
        <div class="image-container">
          <img src="/images/brad-goofy.jpg" class="goofy">
          <img src="/images/brad-nice.jpg" class="nice">
          <span class="name">Bradley Sklenar</span>
          <span class="relation">Conrad's Best Friend<br>&mdash;<br><em>Best Man</em></span>
        </div>
      </div>
      <div class="person pure-u-md-1-4">
        <div class="image-container">
          <img src="/images/abbey.jpg">
          <span class="name">Abbey Conrad</span>
          <span class="relation">Conrad's Sister<br>&mdash;<br><em>Reader</em></span>
        </div>
      </div>
    </div>

  </div>
</section>
