<a name="wedding-details"></a>
<section id="wedding-details" class="wedding-details alternate">
  <div class="constrainer">
    <h2>Wedding Details</h2>
    <h3>Where &amp; When</h3>

    <div class="text-center">
      <p>Saturday, September 12, 2015 at 11:00am</p>
      <p>Waldorf Astoria Chicago<br>
        11 East Walton Street<br>
        Chicago, Illinois  60611
      </p>
    </div>

  </div>
</section>
